@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";  
}

<h1>Welcome!</h1>
@foreach (var res in Model.Restaurants)
{
    @Html.Partial("_Summary", res)
}

<div><a asp-action="Create">Create</a></div>
