@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";  
}

<h1>Welcome!</h1>
<table>
    @foreach (var res in Model.Restaurants)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@res.Id">Details</a>
            </td>
            <td>@res.Name</td>
        </tr>
    }

</table>

<a asp-action="Create">Create</a>

@section footer {
    <div>@Model.CurrentGreeting</div>
}
